html, body {
  height: 100%;
}

body {
  font-family: $body-font-family;
  font-size: $global-font-size-regular;
  line-height: $global-lineheight-regular;
  color: $body-font-color;
  background-color: $body-background;
  min-width: $breakpoints_xs;
  position: relative;
  overflow-x: hidden;
}


