/*---utilities---*/
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.screen-reader-text:not(:focus):not(:active) {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: $main;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.relative {
    position: relative;
}

@media (max-width: 1199px) {
    .no-scroll,
    .no-scroll body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }
}

.rtl-ignore {
    direction: ltr !important;
}
