.site-sidebar {
  position: relative;
  padding-left: 30px;
  @include rtls(border-right, none, 1px solid $light);
  @include rtls(border-left,  1px solid $light, none);
  @include rtls(padding, 0 0 0 30px, 0 30px 0 0);

  &__item {
    margin-bottom: 25px;

    @include media(xl) {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item a {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    text-decoration-line: underline;

    @include media(xl) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}



