<!-- MODULE Administration START -->
<section class="module-administration rtl-ignore">
  <div class="module-administration__wrap site-bottom__item-inner">
    <div class="module-administration__row">
      <div class="module-administration__img__column">
        <div class="module-administration__img">
          <img src="../assets/img/home/prime_minister.png" alt="">
        </div>
      </div>
      <div class="module-administration__content__column">
        <div class="module-administration__content__wrap">
          <div class="module-administration__content">
            <h5 class="text-primary">
              LEARN MORE ABOUT
            </h5>
            <h2 class="module-administration__title">
              The Administration
            </h2>
            <p class="module-administration__text">Thousands of people work in the with us, the East
              Wing, the Cabinet, and the Executive Office
              of the President. Learn more about the people who carry out the priorities of the
              Sheikh
              Sabah al-Khalid al-Sabah Administration.</p>
            <ul class="module-administration__list link-styled-list">
              <li class="module-administration__list__item">
                <a href="">The President</a>
              </li>
              <li class="module-administration__list__item">
                <a href="">The Vice President</a>
              </li>
              <li class="module-administration__list__item">
                <a href="">The Cabinet</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- MODULE Administration END -->

